html{
  min-height: 100%;
  position: relative;
}

/* body */
body{
	background-color: #ffffff;
	margin: auto;
	text-align:center;
	width: 1024px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* エラー関連 */
.fieldError {
	background-color: #fff0f0;
	overflow-y: auto;
	overflow-x: hidden;
	float:left;
	height:60px;
	width:800px;
	margin:0px 10px 0px 10px;
}
.fieldError p{
	margin:0px 0px 0px 0px;
}
li.fieldError {
	background-color: #ff8080;
	height:29px;
	margin:0px;
}

/* ヘッダー */
header{
	width: 1024px;
	height: 50px;
	background: gray;
	padding-top: 5px;
}
.backButton{
	width: 140px;
    height: 40px;
    font-size: 20px;
}
.loginLabel{
	height: 40px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: none;
    color:#fff;
    font-weight:bold;
}
.logout{
    width: 140px;
    height: 40px;
    font-size: 20px;
}

/* メイン */
.content
{
	padding-right: 0px;
	padding-left: 0px;
}

main{
	width: 1024px;
}

/* フッター */
footer {
	position: absolute;
	bottom: 0;
	width: 1024px;
	height: 50px;
	background: gray;
}

/* ログイン関連タイトル部分 */
.screenTitle{
	font-size:40px;
	margin-top: 150px;
	font-weight:bold;
	margin-bottom:100px;
}
.screenSubTitle{
	font-size:20px;
	margin-bottom:100px;
}

/* ボタン共通レイアウト */
button{
	border-radius: 10px;
}

/* プルダウン共通レイアウト */
select {
    font: 20px;
    box-sizing: border-box;
    padding: 0.3em;
    border: 1px solid #1b2538;
    border-radius: 4px;
    transition: 0.3s;
}