/* モーダル */
.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(30,30,30,0.2);
	display: table;
	transition: opacity .3s ease;
}
.modal-wrapper-basis {
	position: absolute;
	top: 50px;
    left: 50%;
	transform: translateX(-17%);
	width: 600px;
    height: 800px;
	background-color: #fff;
}
.modal-hedder {
	width: 100%;
	padding: 0px;
    margin: 0px;
    background-color: #add8e6;
}
.modal-content{
	maring: 20px;
	padding: 20px;
	font-size:15px;
	height: 680px;
	border: 0px;
	overflow-y: auto;
}
.modal-hedder-title {
	font-weight: bold;
	vertical-align: middle;
	align-items: center;
	margin-left: 80px;
	margin-top: 8px;
}
.modal-hedder-close-button {
	margin: 5px 0px 5px 0px;
    width:80px;
	height:35px;
	font-size:15px;
	border-radius: 8px;
}

.modal-item-value {
	margin-top: 5px;
    min-height:40px;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: left;
}

.modal-item-value input[type='text'] {
    font: 15px;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3em;
    border: 1px solid #1b2538;
    border-radius: 4px;
    transition: 0.3s;
}

.modal-regist{
	margin: 5px 0px 0px 0px;
    width:140px;
	height:40px;
	border-radius: 8px;
}

.modal-delete{
	margin: 5px 0px 0px 0px;
    width:140px;
	height:40px;
	border-radius: 8px;
}

select {
    font: 20px;
    box-sizing: border-box;
    padding: 0.3em;
    border: 1px solid #1b2538;
    border-radius: 4px;
    transition: 0.3s;
}