.box{
	margin: 0px;
	width: 100px;
	height: 50px;
}

.koumoku{
	margin: 0px 0px 50px 0px;
	font-size:20px;
}

.login{
	margin: 40px 0px 70px 0px;
    width: 200px;
    height: 60px;
    font-size:20px;
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
    .login {
        	margin: 40px 0px 100px 0px;
		    width: 200px;
		    height: 60px;
		    font-size:20px;
    }
}

.PasswordBt{
	background-color:#fff;
	font-size:20px;
}
