body{
	text-align:center;
	margin: 10% auto;
}
.box{
	margin: 0px;
	width: 500px;
	height: 50px;
}

.koumoku{
	margin: 0px 0px 50px 0px;
	font-size:40px;
}
@media (max-width: 1280px) {
  .koumoku{
	margin: 20px 75px 0px 85px;
	}
}

.PasswordReissueBt{
	margin: 20px 0px 100px 0px;
    width: 550px;
     height: 80px;
    font-size:30px;
}