main{
	font-size:20px;
}
.searchBox{
	margin-top: 50px;
	border:1px solid;
	padding:10px 0px;
}

.searchBox select,
.searchBox input[type="text"],
.searchBox input[type="date"] {
    width: 200px; 
    float: left; /* ç∂Ç…ÉtÉçÅ[Ég */
}


.searchBt{
	width:140px;
	height:50px;
}
.listBox{
	border:1px solid;
	padding:10px 0px;
	margin:10px 0px;
	height:200px;
}
.head{
	border-bottom:1px solid;
	margin: auto;
}
.list{
	margin: auto;
    margin-top: 10px;
}
.newRegist{
	margin: 20px 0px 60px 0px;
    width:140px;
	height:50px;
	position: absolute;
	bottom: 0;
}