main{
	font-size:20px;
}
.searchBox{
	margin-top: 10px;
    border: 1px solid;
    padding: 10px 0px;
}

.searchBox select,
.searchBox input[type="text"],
.searchBox input[type="date"] {
    width: 200px; 
    float: left; /* ���Ƀt���[�g */
}

.searchBt{
	width:140px;
	height:50px;
}
.listBox {
    border: 0px solid;
    margin: 10px 0px;
    max-height: 600px; 
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.listBox::-webkit-scrollbar {
    display: none; 
    }


.head{
	border-bottom:1px solid;
	margin: auto;
	position: sticky; /* �Œ�ʒu���w�� */
    top: 0; /* �㕔�ɌŒ� */
    background-color: #fff; /* �w�i�F��ݒ� */
    z-index: 10; /* ���̗v�f�̏�ɕ\�����邽�� */
}
.list{
	font-size:17px;
	margin: auto;
    margin-top: 10px;
}
.newRegist{
    width:140px;
	height:50px;
}
/* ���q�l��񕔕� */
.infoBox{
	border: 3px solid #808080;
    padding: 5px;
    width: 1000px;
    margin: auto;
    margin-top: 10px;
    flex: 0 0 auto;
    border-radius: 10px;
}
.info{
	text-align: left;
}

.date{
	ackground-color: #fff;
    border: 2px solid #808080;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}