main{
	font-size:20px;
}
.searchBox{
	margin-top: 10px;
    border: 1px solid;
    padding: 10px 0px;
}

.searchBox select,
.searchBox input[type="text"],
.searchBox input[type="date"] {
    width: 200px; 
    float: left; /* �ｿｽ�ｿｽ�ｿｽﾉフ�ｿｽ�ｿｽ�ｿｽ[�ｿｽg */
}

.searchBt{
	width:140px;
	height:50px;
}
.listBox {
    border: 0px solid;
    margin: 10px 0px;
    max-height: 820px; 
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.listBox::-webkit-scrollbar {
    display: none; 
    }


.head{
	border-bottom:1px solid;
	margin: auto;
	position: sticky; /* �ｿｽﾅ抵ｿｽﾊ置�ｿｽ�ｿｽ�ｿｽw�ｿｽ�ｿｽ */
    top: 0; /* �ｿｽ纒費ｿｽﾉ固抵ｿｽ */
    background-color: #fff; /* �ｿｽw�ｿｽi�ｿｽF�ｿｽ�ｿｽﾝ抵ｿｽ */
    z-index: 10; /* �ｿｽ�ｿｽ�ｿｽﾌ要�ｿｽf�ｿｽﾌ擾ｿｽﾉ表�ｿｽ�ｿｽ�ｿｽ�ｿｽ�ｿｽ驍ｽ�ｿｽ�ｿｽ */
}
.list{
	font-size:17px;
	margin: auto;
    margin-top: 10px;
}
.newRegist{
    width:140px;
	height:50px;
}

/* �ｿｽ�ｿｽ�ｿｽq�ｿｽl�ｿｽ�ｿｽ�部包ｿｽ */
.infoBox{
	border: 3px solid #808080;
    padding: 5px;
    width: 1024px;
    margin: auto;
    margin-top: 10px;
    flex: 0 0 auto;
    border-radius: 10px;
}
.info{
	text-align: left;
}

.date{
	ackground-color: #fff;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}