main{
	font-size:20px;
}
footer{
	bottom:auto;
}
.searchBox{
	margin-top: 10px;
    border: 1px solid;
    padding: 10px 0px;
}

.searchBox select,
.searchBox input[type="text"],
.searchBox input[type="date"] {
    width: 200px; 
    float: left; /* �ｿｽ�ｿｽ�ｿｽﾉフ�ｿｽ�ｿｽ�ｿｽ[�ｿｽg */
}

input[type='checkbox'] {
	width: 20px;
    height: 20px;
}

.searchBt{
	width:140px;
	height:50px;
}

.listBox {
    border: 0px solid;
    margin: 10px 0px;
    max-height: 820px; 
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.listBox::-webkit-scrollbar {
    display: none; 
    }


.head{
	border-bottom:1px solid;
	margin: auto;
	position: sticky; /* �ｿｽﾅ抵ｿｽﾊ置�ｿｽ�ｿｽ�ｿｽw�ｿｽ�ｿｽ */
    top: 0; /* �ｿｽ纒費ｿｽﾉ固抵ｿｽ */
    background-color: #fff; /* �ｿｽw�ｿｽi�ｿｽF�ｿｽ�ｿｽﾝ抵ｿｽ */
    z-index: 10; /* �ｿｽ�ｿｽ�ｿｽﾌ要�ｿｽf�ｿｽﾌ擾ｿｽﾉ表�ｿｽ�ｿｽ�ｿｽ�ｿｽ�ｿｽ驍ｽ�ｿｽ�ｿｽ */
}
.list{
	font-size:17px;
	margin: auto;
    margin-top: 10px;
}
.newRegist{
    width:140px;
	height:50px;
}

/* �ｿｽ�ｿｽ�ｿｽq�ｿｽl�ｿｽ�ｿｽ�部包ｿｽ */
.infoBox{
	border: 3px solid #808080;
    padding: 5px;
    width: 1024px;
    margin: auto;
    margin-top: 10px;
    flex: 0 0 auto;
    border-radius: 10px;
}
.info{
	text-align: left;
}

.date{
	ackground-color: #fff;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-bottom: 10px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* gap: 5px; */
    padding: 20px;
    text-align: center;
}
.calendar-header {
    font-weight: bold;
    background-color: #80bdff;
}
.day {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.day:hover {
    background-color: #e0e0e0;
}
.today {
    background-color: #ffe493;
    color: white;
}
.count {
    font-size: 30px;
    color: #fff;
    background-color: #0056b3;
    border-radius: 10px;
    font-weight: bold;
}

.name{
    width: 100px;
    height: 100%;
    display: inline-grid;
    justify-content: center;
    align-items: center;
}

.addBt{
	width: 65px;
    height: 65px;
    background-color: #fff;
    border: 2px solid orange;
}
.empty-cell {
    display: none;
}

.half-hour-cell {
    height: 100%;
    background-color: rgb(224, 115, 126);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}

.one-hour-cell {
    height: 100%;
    background-color: rgb(77, 158, 244);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
}

.merged-cell {
    height: 100%;
    background-color: rgb(77, 158, 244);
    color: rgb(255, 255, 255);
    grid-column: span 2;
    font-size: 20px;
    font-weight: bold;
}

.timeSlot{
    display: inline-grid;
    justify-content: center;
    align-items: center;
    border-right: 2px solid;
}

.individual-text{
	width: 100%;
    border: 1px solid;
}

.item-title{
	font-size: 15px;
	margin-right:5px;
}

.label-required{
	color: #FF0000;
}

.selected-row {
    background-color: lightblue;
}



/* アコーディオン形式部分 */
.accordion-item {
    cursor: pointer;
    padding: 2px;
    border-bottom: 1px solid #ccc;
}

.accordion-header{
    text-align: left;
    height: 50px;
    border: 1px solid;
    padding-left:5px;
}

.accordion-content {
	margin-top: 10px;
    text-align: left;
    margin-left: 20px;
}

.accordion-label{
	background-color: gray;
    color: #fff;
    border-radius: 10px;
    width: 130px;
    text-align: center;
}

.accordion-input{
	border: none;
    width: 100%;
}