/* ���q�l��񕔕� */
.infoBox{
	border: 1px solid;
    padding: 5px;
    width: 1000px;
    margin: auto;
    margin-top: 10px;
    flex: 0 0 auto;
}
.info{
	text-align: left;
}

.date{
	ackground-color: #fff;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 225px;
}

/* �A�R�[�f�B�I�����ڂ̃X�^�C�� */
.accordion-item {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.accordion-item:hover {
    background-color: #f0f0f0;
}

.accordion-header{
	font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
}

/* �E���̓��̓G���A�̃X�^�C�� */
.input-area {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #f0f0f0;
    border-left: 1px solid #ccc;
    display: none;     
}

.input-area.active {
    display: block;
}

.content-area {
    width: 70%;
    float: left;
}

/* �S�̃��C�A�E�g�̃N���A */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

main {
	display: flex; /* �t���b�N�X�{�b�N�X���g�p */
    flex-direction: column; /* �c�����ɔz�u */
    max-height: 90vh; /* �ő卂�����r���[�|�[�g��80%�ɐݒ� */
}

.scrollable-content {
    flex: 1 1 auto; /* �c��̃X�y�[�X���߂� */
    overflow-y: auto; /* �c�X�N���[����L���ɂ��� */
}
.scrollable-section {
    overflow-x: auto; /* ���X�N���[����L���� */
    height: 100vh; /* �r���[�|�[�g�̍�����100%�� */
    display: flex; /* �����тɂ��� */
}

.scrollable-section > div {
    min-width: 500px; /* �e��ʂ̍ŏ�����ݒ� */
    height: 100%; /* ������100%�ɐݒ� */
    overflow-y: auto; /* �c�X�N���[����L���� */
    padding: 10px; /* �p�f�B���O��ǉ� */
    box-sizing: border-box; /* �p�f�B���O���܂ތv�Z */
}

.item {
    min-height: 100px; /* �e�A�C�e���̍ŏ����� */
    margin-bottom: 20px; /* �A�C�e���Ԃ̏c�X�y�[�X */
    background-color: #f0f0f0; /* �w�i�F */
    padding: 10px; /* �p�f�B���O��ǉ� */
    border: 1px solid #ccc; /* ���E����ǉ� */
}

.itemTitle{
	font-size: 20px;
    text-align: left;
}

.eyePositionBt{
    color: #fff;
    border: none;
    font-size: 30px;
    font-weight: bold;
    width:100px;
}

.diamondTitle{
	font-size: 20px;
    font-weight: bold;
}

.margin{
	margin-top: 20px;
	margin-bottom: 20px;
}

.horizontalSubTitle{
	background-color: #8e8e8e;
    color: #fff;
    border-radius: 30px;
    width: 200px;
    text-align: center;
    margin-left: 40px;
}

.horizontalSelect{
	width: 270px;
}

.totalValueEyes{
	background-color: gray;
    color: #fff;
    width: 100%;
    font-weight: bold;
}

.totalValueEyesSelect{
	width:150px;
}

.topBottomTitle{
	font-size: 20px;
    font-weight: bold;
}

.topBottomSelect{
	width: 150px;
}

.topBottomBorder{
	border-bottom: 1px solid;
    margin-bottom: 15px;
}

.topBottomObliqueSelect{
	width: 270px;
}

.perspectiveIcon{
	 color: #fff; 
	 width: 50px;
}

.npcSelect{
	width:150px;
}

.npcItems{
	padding: 0px;
    padding-top: 30px;
	margin-bottom: -1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.memoArea{
	width: 100%;
    height: 200px;
}
