main {
	display: flex; 
    flex-direction: column;
    max-height: 90vh;
}

/* お客様情報部分*/
.infoBox{
	border: 3px solid #808080;
    padding: 5px;
    width: 1000px;
    margin: auto;
    margin-top: 10px;
    flex: 0 0 auto;
    border-radius: 10px;
}
.info{
	text-align: left;
}

.telBt{
	margin-left: 10px;
    width: 65px;
    height: 65px;
    background-color: #fff;
    border: 2px solid orange;
}

.editBt{
	margin-left: 25px;
	width: 65px;
    height: 65px;
    background-color: #fff;
    border: 2px solid orange;
}

.date{
	ackground-color: #fff;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-bottom: 10px;
}

/* アコーディオン形式部分 */
.accordion-item {
    cursor: pointer;
    padding: 2px;
    border-bottom: 1px solid #ccc;
}
.accordion-item:hover {
    background-color: #f0f0f0;
}

.accordion-header{
	font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
    height: 70px;
}

.accordion-content {
	margin-top: 10px;
    text-align: left;
    margin-left: 20px;
}

.accordion-label{
	background-color: gray;
    color: #fff;
    border-radius: 10px;
    width: 130px;
    text-align: center;
}

.accordion-input{
	border: none;
    width: 100%;
}

.addBt{
	width: 65px;
    height: 65px;
    background-color: #fff;
    border: 2px solid orange;
}.input-area {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #f0f0f0;
    border-left: 1px solid #ccc;
    display: none;     
}

.input-area.active {
    display: block;
}

.content-area {
    width: 70%;
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.scrollable-content {
    flex: 1 1 auto; 
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.scrollable-section {
    overflow-x: auto; 
    height: 100vh;
    display: flex; 
}

.scrollable-section {
    min-width: 500px; 
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.item {
    min-height: 100px; 
    margin-bottom: 20px;
    background-color: #f0f0f0; 
    padding: 10px;
    border: 1px solid #ccc; 
}

.itemTitle{
	font-size: 20px;
    text-align: left;
}

.eyePositionBt{
    color: #fff;
    border: none;
    font-size: 30px;
    font-weight: bold;
    width:100px;
}

.diamondTitle{
	font-size: 20px;
    font-weight: bold;
}

.margin{
	margin-top: 20px;
	margin-bottom: 20px;
}

.horizontalSubTitle{
	background-color: #8e8e8e;
    color: #fff;
    border-radius: 30px;
    width: 200px;
    text-align: center;
    margin-left: 40px;
}

.horizontalSelect{
	width: 270px;
}

.totalValueEyes{
	background-color: gray;
    color: #fff;
    width: 100%;
    font-weight: bold;
}

.totalValueEyesSelect{
	width:150px;
}

.topBottomTitle{
	font-size: 20px;
    font-weight: bold;
}

.topBottomSelect{
	width: 150px;
}

.topBottomBorder{
	border-bottom: 1px solid;
    margin-bottom: 15px;
}

.topBottomObliqueSelect{
	width: 270px;
}

.perspectiveIcon{
	 color: #fff; 
	 width: 50px;
}

.npcSelect{
	width:150px;
}

.npcItems{
	padding: 0px;
    padding-top: 30px;
	margin-bottom: -1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.memoArea{
	resize: none;
	width: 100%;
    height: 200px;
}

.disp-history {
	background-color: #fff8dc;
}

.input-label-autoref {
    position:relative;
    padding-left:1em;
}

.past-data-tittle{
	width: 120px; 
	border: 1px solid;	
}

.past-data-text{
	height: 120px; 
	width: 120px;
}
.no-tittle{
	font-size: 30px; 
	font-weight: bold;
}

.dosu-tittle{
	margin-top: 10px; 
	font-weight: bold;
}

.dosu-text{
	text-align: center;
    width: 130px;
    margin-top: 6px;
    height: 130px;
    font-size: 40px;
}

.dosu-subtittle{
	writing-mode: vertical-rl; 
	font-size: 7px;
}

.frame-box{
	display: flex; 
	border-top: 2px solid; 
	border-left: 2px solid; 
	border-right: 2px solid; 
	height: 60px;
}

.frame-text{
	width: 425px; 
	height: 100%; 
	border: 1px solid;
}

.eye-point{
	font-size: 10px; 
	vertical-align: top;
}

.eye-point-text{
	width: 30px; 
	border: none; 
	height: 23px;
}

.input-amount{
	height: 100%; 
	border: 1px solid;
}

.lens-box{
	display: flex; 
	border-left: 2px solid; 
	border-right: 2px solid;
	border-bottom: 2px solid; 
	height: 60px;
}

.lens-text{
	width: 487px; 
	height: 100%; 
	border: 1px solid;
}

.option-box{
	display: flex;
    border-left: 3px solid;
    border-right: 2px solid;
    height: 60px;
    border-bottom: 3px solid;
}

.option-select{
	font-size: 14px;
    width: 175px;
    height: 90%;
    border: none;
    padding: 0px;
}

.option-text{
	width: 307px;
    height: 100%;
    border: none;
    border-left: 1px solid;
    border-right: 3px solid;
}

.option-input-amount{
	height: 100%;
	border: none;
    border-right: 2px solid;
}

.subtotal-box{
	display: flex; 
	border: 2px solid;
	background-color: #fff;
}

.subtotal{
	font-size: 12px; 
	font-weight: bold; 
	margin-left: 10px;
}

.subtotal-text{
	width: 95%; 
	margin-left: 10px;
	border: none;
}

.total-amount-box{
	border-right: 2px solid; 
	border-left: 2px solid; 
	border-bottom: 2px solid;
	background-color: #fff;
}

.total-amount-subbox{
	height: 48px; 
	padding: 0px 10px 0px 35px; 
	line-height: 48px;
}

.total-amount{
	font-size: 25px; 
	font-weight: bold;
}

.total-amount-text{
	width: 70%; 
	height: 30px; 
	border: none;
}

.deposit-box{
	display: flex; 
	border-left: 2px solid; 
	border-right: 2px solid;
	background-color: #fff;
}

.deposit-subbox{
	text-align: center; 
	border-left: 1px solid; 
	border-right: 1px solid; 
	width:47%;
}

.deposit-label{
	font-size: 12px; 
	font-weight: bold;
}

.deposit-text{
	width: 70%; 
	border: none;
}

.remaining-money-box{
	display: flex; 
	border-left: 2px solid; 
	border-right: 2px solid; 
	border-top: 1px solid; 
	border-bottom: 2px solid;
	background-color: #fff;
}

.disp-white{
	background-color: #fff;
}

.processing-data{
	text-align: right;
    margin: 10px 0px;
}

.processing-data-select{
	width: 200px;
}