/* お客様情報部分*/
.infoBox{
	border: 1px solid;
    padding: 5px;
    width: 1000px;
    margin: auto;
    margin-top: 10px;
    flex: 0 0 auto;
}
.info{
	text-align: left;
}

.date{
	ackground-color: #fff;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 225px;
}

/* アコーディオン形式部分 */
.accordion-item {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.accordion-item:hover {
    background-color: #f0f0f0;
}

.accordion-header{
	font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
}

.input-area {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #f0f0f0;
    border-left: 1px solid #ccc;
    display: none;     
}

.input-area.active {
    display: block;
}

.content-area {
    width: 70%;
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

main {
	display: flex; 
    flex-direction: column;
    max-height: 90vh;
}

.scrollable-content {
    flex: 1 1 auto; 
    overflow-y: auto;
}
.scrollable-section {
    overflow-x: auto; 
    height: 100vh;
    display: flex; 
}

.scrollable-section > div {
    min-width: 500px; 
    height: 100%;
    overflow-y: auto; 
    padding: 10px;
    box-sizing: border-box;
}

.item {
    min-height: 100px; 
    margin-bottom: 20px;
    background-color: #f0f0f0; 
    padding: 10px;
    border: 1px solid #ccc; 
}

.itemTitle{
	font-size: 20px;
    text-align: left;
}

.eyePositionBt{
    color: #fff;
    border: none;
    font-size: 30px;
    font-weight: bold;
    width:100px;
}

.diamondTitle{
	font-size: 20px;
    font-weight: bold;
}

.margin{
	margin-top: 20px;
	margin-bottom: 20px;
}

.horizontalSubTitle{
	background-color: #8e8e8e;
    color: #fff;
    border-radius: 30px;
    width: 200px;
    text-align: center;
    margin-left: 40px;
}

.horizontalSelect{
	width: 270px;
}

.totalValueEyes{
	background-color: gray;
    color: #fff;
    width: 100%;
    font-weight: bold;
}

.totalValueEyesSelect{
	width:150px;
}

.topBottomTitle{
	font-size: 20px;
    font-weight: bold;
}

.topBottomSelect{
	width: 150px;
}

.topBottomBorder{
	border-bottom: 1px solid;
    margin-bottom: 15px;
}

.topBottomObliqueSelect{
	width: 270px;
}

.perspectiveIcon{
	 color: #fff; 
	 width: 50px;
}

.npcSelect{
	width:150px;
}

.npcItems{
	padding: 0px;
    padding-top: 30px;
	margin-bottom: -1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.memoArea{
	width: 100%;
    height: 200px;
}
