<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ログイン</title>
    <div th:replace="base_header"></div>
    
    <!-- ページ固有のCSSファイル -->
    <link rel="stylesheet" href="/css/s001Login.css" th:href="@{/css/s001Login.css}"/>
    
    <!-- ページ固有のJSファイル -->
    <script src="/js/page/s001Login.js" th:src="@{/js/page/s001Login.js}"></script>
</head>
<body>
    <div id="content">
    	<div th:replace="header"></div>
        <main>
            <div>
                <label class="screenTitle">ログイン</label>
            </div>
            <div style="vertical-align: middle;">
                <label class="koumoku">ログインID:</label>
                <input type="text" class="box"/>
            </div>
            <div style="vertical-align: middle;">
                <label class="koumoku">パスワード:</label>
                <input type="text" class="box"/>
            </div>
            <div>
                <button v-on:click="login" class="login">ログイン</button>
            </div>
            <div>
                <button v-on:click="movePasswordReissue" class="PasswordReissueBt">パスワード発行</button>
            </div>
            <!-- モーダル -->
            <processing v-if="processingFlg"></processing>
        </main>
    </div>
    <div th:replace="footer"></div>
</body>
</html>
