<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>パスワード発行</title>
    <div th:replace="base_header"></div>

     <!-- ページ固有のCSSファイル -->
    <link rel="stylesheet" href="/css/s003PasswordReissue.css" th:href="@{/css/s003PasswordReissue.css}"/>
    
    <!-- ページ固有のJSファイル -->
    <script src="/js/page/s003PasswordReissue.js" th:src="@{/js/page/s003PasswordReissue.js}"></script>
</head>

<body>
	<div id="content">
		<div th:replace="header"></div>
		<main>
			<div>
				<label class="screenTitle">パスワード発行</label>
			</div>
			<div>
				<label class="screenSubTitle">下記フォームにメールアドレスを入力し送信してください。<br>パスワードを発行し、記載したメールアドレスへ送信いたします。</label>
			</div>
			<div class="row">
				<div class="box col-2"></div>
                <label class="koumoku col-3">メールアドレス</label>
                <input type="text" class="box col-4"/>
                <div class="box col-2"></div>
            </div>
			<div　class="row">
				<div class="col-6" style="text-align: right; padding-right: 50px;">
					<button v-on:click="back" class="PasswordReissueBt">キャンセル</button>
				</div>
				<div class="col-6" style="text-align: left; padding-left: 50px;">
					<button v-on:click="moveLogin" class="PasswordReissueBt">パスワード発行メールを送信する</button>
				</div>
			</div>
			<!-- モーダル -->
			<processing v-if="processingFlg"></processing>
		</main>
	</div>
	<div th:replace="footer"></div>
</body>
</html>