<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>メニュー</title>
    <div th:replace="base_header"></div>

   <!-- ページ固有のCSSファイル -->
    <link rel="stylesheet" href="/css/s004Menu.css" th:href="@{/css/s004Menu.css}"/>

    <!-- ページ固有のJSファイル -->
    <script src="/js/page/s004Menu.js" th:src="@{/js/page/s004Menu.js}"></script>
</head>
<body>
	<div id="content">
		<div th:replace="header"></div>
		<main>
			<div>
			    <button v-on:click="moveCustomerInformationSearch" class="menuBt">検索</button>
			</div>
			<div>
			    <button v-on:click="moveReservation" class="menuBt">予約</button>
			</div>
			<div>
			    <button v-on:click="logout" class="logout">ログアウト</button>
			</div>
			<processing v-if="processingFlg"></processing>
		</main>
	</div>
	<div th:replace="footer"></div>
</body>
</html>