<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>メニュー</title>
    <div th:replace="base_header"></div>

   <!-- ページ固有のCSSファイル -->
    <link rel="stylesheet" href="/css/s004Menu.css" th:href="@{/css/s004Menu.css}"/>

    <!-- ページ固有のJSファイル -->
    <script src="/js/page/s004Menu.js" th:src="@{/js/page/s004Menu.js}"></script>
</head>
<body>
	<div id="content">
		<div th:replace="header"></div>
		<main>
			<div class="row">
				<div class="col-2"></div>
				<div class="col-4">
				    <button v-on:click="moveCustomerInformationSearch" class="menuBt">
					    <span class="icon">
							<i class="fas fa-regular fa-glasses"></i>
						</span>
						<br><span style="font-size: 20px;">お客様情報検索</span>
					</button>
				</div>
				<div class="col-4">
				    <button v-on:click="moveReservation" class="menuBt">
					    <span class="icon">
							<i class="fas fa-regular fa-calendar-check"></i>
						</span>
						<br><span style="font-size: 20px;">東京測定会予約情報</span>
				    </button>
				</div>
				<div class="col-2"></div>
			</div>
			<processing v-if="processingFlg"></processing>
		</main>
	</div>
	<div th:replace="footer"></div>
</body>
</html>