<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>顧客情報検索</title>
    <div th:replace="base_header"></div>

    <!-- ページ固有のCSSファイル -->
    <link rel="stylesheet" href="/css/s005CustomerInformationSearch.css" th:href="@{/css/s005CustomerInformationSearch.css}"/>

    <!-- ページ固有のJSファイル -->
    <script src="/js/page/s005CustomerInformationSearch.js" th:src="@{/js/page/s005CustomerInformationSearch.js}"></script>
</head>

<body>
	<div id="content">
		<div th:replace="header"></div>
		<main>
			<!-- 新規登録 -->
			<div style="text-align: right; margin-top: 10px;">
			    <button v-on:click="moveMedicalNewRecord" class="newRegist">新規登録</button>
			</div>
			<!-- 検索部分 -->
			<div class="searchBox">
				<div class="row">
					<div class="col-2">
						<label>店舗</label>
					</div>
					<div class="col-4">
						<select>
							<option></option>
							<option>網走店</option>
						</select>
						<label>お客様ID</label>
					</div>
					<div class="col-3">
						<input type="text">
					</div>
					<div class="col-1"></div>
				</div>
				<div class="row">
					<div class="col-2">
						<label>名前</label>
					</div>
					<div class="col-4">
						<input type="text">
						<label>カナ</label>
					</div>
					<div class="col-3">
						<input type="text">
					</div>
					<div class="col-1"></div>
				</div>
				<div class="row">
					<div class="col-2">
						<label>来店日</label>
					</div>
					<div class="col-4">
						<input type="date">
						<label>～</label>
					</div>
					<div class="col-2">
						<input type="date">
					</div>
					<div class="col-2"></div>
				</div>
				<div class="row">
					<div class="col-2">
						<label>担当</label>
					</div>
					<div class="col-4">
						<select>
							<option></option>
							<option>黒川</option>
						</select>
					</div>
					<div class="col-6"></div>
				</div>
				<div class="row">
					<div class="col-6"></div>
					<div class="col-2">
						<button class="searchBt">検索</button>
					</div>
					<div class="col-2">
						<button class="searchBt">条件クリア</button>
					</div>
					<div class="col-2">
						<button class="searchBt">CSV出力</button>
					</div>
				</div>
			</div>
			<div style="margin-top: 10px; text-align:right;">
			    <p>表示件数：<span>6</span>件</p>
			</div>
			<!-- 一覧部分 -->
			<div class="listBox">
				<div class="infoBox row" v-for="(customer, index) in customers" :key="index" v-on:click="moveMedicalRecord">
			    	<div class="col-7">
			      		<div class="info" style="font-size: 15px;">
			        		<label>{{ customer.kana }}</label>
			      		</div>
			      		<div class="info" style="font-size: 40px; border-bottom:1px solid">
			        		<label>{{ customer.name }}</label><span style="margin-left: 100px;">様</span>
			      		</div>
			      		<div class="info" style="font-size: 20px;">
					        <label>ID:{{ customer.id }}
					        <span style="margin-left: 10px;">{{ customer.birthDate }}</span>
					        <span style="margin-left: 10px;">生{{ customer.age }}歳</span>
					        <span style="margin-left: 10px;">{{ customer.gender }}</span>
					        </label>
				      	</div>
				    </div>
					<div class="col-5" style="text-align: right;">
					 	<div class="date" style="font-size: 20px;">
					    	<label>前回来店日:</label><label>{{ customer.lastVisit }}</label>
					  	</div>
					  	<div class="date" style="font-size: 20px;">
					    	<label>次回来店日:</label><label>{{ customer.nextVisit }}</label>
					  	</div>
					</div>
				</div>
				<div class="row list">
					<div class="col-12" style="margin-top: 20px;">
						<label>これ以上検索結果がありません。</label>
					</div>
				</div>
			</div>
			<!-- モーダル -->
			<processing v-if="processingFlg"></processing>
		</main>
	</div>
	<div th:replace="footer"></div>
</body>
</html>