<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>顧客情報検索</title>
    <div th:replace="base_header"></div>

    <!-- ページ固有のCSSファイル -->
    <link rel="stylesheet" href="/css/s005CustomerInformationSearch.css" th:href="@{/css/s005CustomerInformationSearch.css}"/>

    <!-- ページ固有のJSファイル -->
    <script src="/js/page/s005CustomerInformationSearch.js" th:src="@{/js/page/s005CustomerInformationSearch.js}"></script>
</head>

<body>
	<div id="content">
		<div th:replace="header"></div>
		<main>
			<div>
			    <button v-on:click="back">戻る</button>
			</div>
			<div>
			    <button v-on:click="moveMedicalRecord">新規登録</button>
			</div>
			<!-- モーダル -->
			<processing v-if="processingFlg"></processing>
		</main>
	</div>
	<div th:replace="footer"></div>
</body>
</html>