<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>予約</title>
    <div th:replace="base_header"></div>

    <!-- ページ固有のCSSファイル -->
    <link rel="stylesheet" href="/css/s006Reservation.css" th:href="@{/css/s006Reservation.css}"/>

    <!-- ページ固有のJSファイル -->
    <script src="/js/page/s006Reservation.js" th:src="@{/js/page/s006Reservation.js}"></script>
</head>

<body>
	<div id="content">
		<div th:replace="header"></div>
		<main>
			<div class="row">
				<div class="col-6" style="text-align: left; margin-top: 10px; font-size:25px;">
					<label>東京測定会予約情報画面</label>
				</div>
			</div>
			<!-- 検索部分 -->
			<div class="searchBox">
				<div class="row">
					<div class="col-2">
						<label>顧客番号</label>
					</div>
					<div class="col-4">
						<input type="text">
						<label>電話番号</label>
					</div>
					<div class="col-3">
						<input type="text">
					</div>
					<div class="col-1"></div>
				</div>
				<div class="row">
					<div class="col-2">
						<label>名前</label>
					</div>
					<div class="col-4">
						<input type="text">
						<label>カナ</label>
					</div>
					<div class="col-3">
						<input type="text">
					</div>
					<div class="col-1"></div>
				</div>
				<div class="row">
					<div class="col-2">
						<label>開催日</label>
					</div>
					<div class="col-4">
						<input type="date">
						<label>～</label>
					</div>
					<div class="col-2">
						<input type="date">
					</div>
					<div class="col-2"></div>
				</div>
				<div class="row" style="margin-top: 15px;">
					<div class="col-8"></div>
					<div class="col-2">
						<button class="searchBt">検索</button>
					</div>
					<div class="col-2">
						<button class="searchBt">条件クリア</button>
					</div>
				</div>
			</div>
			<div style="margin-top: 10px; text-align:right;">
				<select style="float: left;">
					<option></option>
					<option>顧客番号</option>
				</select>
			    <p style="padding-top: 5px;">表示件数：<span>6</span>件</p>
			</div>
			<!-- 一覧部分 -->
			<div class="listBox">
				<div class="infoBox row" v-for="(customer, index) in customers" :key="index"　v-on:click="moveMedicalRecord">
			    	<div class="col-8">
			      		<div class="info" style="font-size: 15px;">
			        		<label>{{ customer.kana }}</label>
			      		</div>
			      		<div class="info" style="font-size: 40px; border-bottom:1px solid">
			        		<label>{{ customer.name }}</label><span style="margin-left: 100px;">様</span>
			        		<label style="margin-left: 45px;font-size: 20px;">
			        		<span class="icon">
								<i class="fas fa-solid fa-phone"></i>
							</span>
			        		{{ customer.tel }}</label></span>
			      		</div>
			      		<div class="info" style="font-size: 20px;">
					        <label>顧客番号:{{ customer.id }}
					        <span style="margin-left: 10px;">{{ customer.birthDate }}生まれ</span>
					        <span style="margin-left: 10px;">{{ customer.age }}歳</span>
					        <span style="margin-left: 10px;">{{ customer.gender }}</span>
					        </label>
				      	</div>
				      	<div class="info" style="font-size: 20px;　margin-top: -15px;">
			        		<label>{{ customer.address }}</label></span>
			      		</div>
				    </div>
					<div class="col-4" style="text-align: right;">
					  	<div class="date" style="font-size: 20px;">
					    	<label>開催日時:</label><label>{{ customer.lastVisit }}</label>
					  	</div>
					  	<div class="date" style="font-size: 20px;" :style="customer.reservationSlot === '1時間' ? oneHourStyle : (customer.reservationSlot === '30分' ? halfHourStyle : '')">
					    	<label>{{ customer.reservationSlot }}</label>
					  	</div>
					    <div class="date" style="font-size: 20px;">
					    	<label>参加回数:</label><label>{{ customer.kaisu }}</label>
					    </div>
					</div>
				</div>
				<div class="row list">
					<div class="col-12" style="margin-top: 20px;">
						<label>これ以上検索結果がありません。</label>
					</div>
				</div>
			</div>
			<!-- モーダル -->
			<processing v-if="processingFlg"></processing>
		</main>
	</div>
	<div th:replace="footer"></div>
</body>
</html>