<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>予約</title>
	<div th:replace="base_header"></div>

	<!-- ページ固有のCSSファイル -->
	<link rel="stylesheet" href="/css/s006Reservation.css" th:href="@{/css/s006Reservation.css}"/>

	<!-- ページ固有のJSファイル -->
	<script src="/js/page/s006ReservationTimetable.js" th:src="@{/js/page/s006ReservationTimetable.js}"></script>
	<script src="/js/component/individualReservationModal.js" th:src="@{/js/component/individualReservationModal.js}"></script>
</head>
<body>
	<div id="content">
		<div th:replace="header"></div>
		<main>
			<individual-reservation-modal ref=individualReservationModal></individual-reservation-modal>
			<div class="row" style="margin: 20px 0px;">
				<div class="date-selector col-6">
					<input type="date" v-model="selectedDate" v-on:change="selectDate(selectedDate)">
					<span v-if="selectedDate">選択された日付: {{ selectedDate }}</span>
				</div>
				<div class="date-selector col-6">
					<button v-on:click.stop="movesReservation" class="searchBt">一覧</button>
				</div>
			</div>
			<div class="row" style="margin: 0px 0px;">
				<div class="col-2">
					<!-- 空のカラム -->
				</div>
				<div class="col-10">
					<div class="row">
						<div class="col-6" style="border: 1px solid #000; border-bottom: none;">担当者A</div>
						<div class="col-6" style="border: 1px solid #000; border-left: none; border-bottom: none;">担当者B</div>
					</div>
				</div>
			</div>
			<div class="scroll">
				<div class="row" v-for="(timeSlot, index) in timeSlots" :key="index" style="margin:auto; border:1px solid; border-top: none;">
					<div class="col-2 timeSlot">
						<div><label>{{ timeSlot }}</label></div>
					</div>
					<div class="col-10">
						<div class="row" style="display: flex; align-items: stretch; min-height: 70px;">
							<!-- 担当者Aの列 -->
							<div class="col-6" style="border-right: 1px solid #000;">
								<div v-if="scheduleA[index] && scheduleA[index].length > 0">
									<div v-for="(event, eventIndex) in scheduleA[index]"
										:key="eventIndex"
										:class="getCellClass(scheduleA, event, index)"
										v-on:click="moveMedicalRecord()"
										class="name clickable-cell">
										<!-- 予約者名 -->
										<label>予約者：{{ event.title }}</label>
										<!-- 紹介者名 -->
										<label style="font-size: 16px;">紹介者：{{ event.introducer }}</label>
									</div>
								</div>
								<div v-else>
									<!-- 空白の場合の追加ボタン -->
									<button v-on:click.stop="openModal" class="addBt">
										<span class="icon">
											<i class="fas fa-regular fa-plus"></i>
										</span>
										<br><span style="font-size: 16px;">追加</span>
									</button>
								</div>
							</div>
				
							<!-- 担当者Bの列 -->
							<div class="col-6">
								<div v-if="scheduleB[index] && scheduleB[index].length > 0">
									<div v-for="(event, eventIndex) in scheduleB[index]"
										:key="eventIndex"
										:class="getCellClass(scheduleB, event, index)"
										v-on:click="moveMedicalRecord()"
										class="name clickable-cell">
										<!-- 予約者名 -->
										<label>予約者：{{ event.title }}</label>
										<!-- 紹介者名 -->
										<label style="font-size: 16px;">紹介者：{{ event.introducer }}</label>
									</div>
								</div>
								<div v-else>
									<!-- 空白の場合の追加ボタン -->
									<button v-on:click.stop="openModal" class="addBt">
										<span class="icon">
											<i class="fas fa-regular fa-plus"></i>
										</span>
										<br><span style="font-size: 16px;">追加</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<div th:replace="footer"></div>
</body>
</html>