<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>事前アンケート</title>
    <div th:replace="base_header"></div>

    <!-- ページ固有のCSSファイル -->
    <link rel="stylesheet" href="/css/s008Questionnaire.css" th:href="@{/css/s008Questionnaire.css}"/>

    <!-- ページ固有のJSファイル -->
    <script src="/js/page/s008Questionnaire.js" th:src="@{/js/page/s008Questionnaire.js}"></script>
</head>

<body>
    <div id="content">
        <div th:replace="header"></div>
        <main>
            <div class="row mainTable contensMargin">
                <div class="col-12 page-title">
                    <label>２０２４年７月測定会　事前アンケート</label>
                </div>
                <div class="page-header" style="text-align: left;">
                    <div class="col-12">
                        <label>本アンケートはメガネをご購入頂き<br>ご使用いただいているお客様向けのアンケートです。</label>
                    </div>
                    <div class="col-12" style="margin-top: 15px;">
                        <label>記載していただいた個人情報は、ご本人の同意がなければ第三者に個人情報を提供することはございません。取得した個人情報は、紛失や漏洩などが発生しないよう積極的な安全対策を実施いたします。</label>
                    </div>
                    <div class="col-12" style="margin-top: 15px;">
                        <label>個人情報の取扱いに関するお問い合わせついては下記窓口までご連絡ください。</label>
                    </div>
                    <div class="col-12" style="margin-top: 15px;">
                        <label>TEL: 0152-44-2233</label>
                        <br>
                        <a href="#">hk@senrido.co.jp</a>
                    </div>
                    <div class="col-12" style="margin-top: 15px;">
                        <div class="row">
                            <div class="col-12 item-title">【お知らせ】</div>
                            <div class="col-12 item-subitle">
                                                                  測定会当日は現在使用中のメガネ・コンタクトレンズを<br>(度数が判るものであれば可)<br>ご持参頂きますよう、お願い致します。
                            </div>
                        </div>
                    </div>
                </div>
                <!-- コンテンツ -->
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">お名前</div>
                        <div class="col-12 item-value">
                            <label class="ef">
                                <input type="text" placeholder="フルネームをご記入ください。" value="東京太郎" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">お名前（カタカナ）</div>
                        <div class="col-12 item-value">
                            <label class="ef">
                                <input type="text" placeholder="カタカナでご記入ください。" value="トウキョウタロウ" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">メールアドレス</div>
                        <div class="col-12 item-value">
                            <label class="ef"><input type="mail" class="width-full" placeholder="回答を入力"　value="test@hogehoge.jp" /></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">郵便番号11</div>
                        <div class="col-12 item-value">
                            <div class="row">
                                <div class="col-2">
                                    <label class="ef"><input type="text" placeholder="回答を入力" value="1410031" /></label>
                                </div>
                                <div class="col-10">
                                    <button value="郵便番号検索" >郵便番号検索</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">ご住所</div>
                        <div class="col-12 item-value">
                            <label class="ef"><input type="text" placeholder="回答を入力" value="東京都品川区西五反田1-2-10 CIRCLES五反田5階" /></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <!-- 生年月日から自動計算するか -->
                    <div class="row card">
                        <div class="col-12 item-title">年齢</div>
                        <div class="col-12 item-value">
                            <label class="ef"><input type="text" placeholder="回答を入力" value="40" /></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">電話番号</div>
                        <div class="col-12 item-value">
                            <label class="ef"><input type="text" placeholder="回答を入力" value="090-1234-5678" /></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">ご紹介者</div>
                        <div class="col-12 item-value">
                            <label class="ef"><input type="text" placeholder="どなたからのご紹介で千里堂を知りましたか？" value="網走一郎" /></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">作製したメガネの一日当たりの使用状況はどのくらいですか？</div>
                        <div class="col-12 item-value">
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="radio" name="useGlasses" value="0"><span class="spaceLeft">一日中掛けている</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="radio" name="useGlasses" value="1"><span class="spaceLeft">スマホやパソコンなど近くを見る時には掛けている</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="radio" name="useGlasses" value="2"><span class="spaceLeft">1日のうち、1～3時間程度</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="radio" name="useGlasses" value="3"><span class="spaceLeft">掛けていない。または掛けられない。</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-2">
                                    <label class="input-label"><input type="radio" name="useGlasses" value="9"><span class="spaceLeft">その他:</span></label>
                                </div>
                                <div class="col-10">
                                    <label class="ef"><input type="text" style="widht: 100%;" /></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">メガネを掛けて変化は感じますか？</div>
                        <div class="col-12 item-subtitle">あてはまるものすべてにチェックを入れてください。</div>
                        <div class="col-12 item-value">
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">視力が良くなった気がする</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">疲れ目を感じることが減った</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">頭痛・肩こり改善した</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">特別変化を感じていない</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">メガネを掛けていてきになることはありますか？</div>
                        <div class="col-12 item-subtitle">メガネを掛けられない方のみお答えください。</div>
                        <div class="col-12 item-value">
                             <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">フワフワ・ユラユラする</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">床などが歪んで見える</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">見たいものが見えない（遠く）</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">見たいものが見えない（近く）</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">頭痛が発生する</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">耳や鼻などが痛くなる・メガネが下がる</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-2">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">その他:</span></label>
                                </div>
                                <div class="col-10">
                                    <label class="ef"><input type="text" style="widht: 100%;" /></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">お仕事の内容や環境に変化はありましたか？</div>
                        <div class="col-12 item-subtitle">記入例：モニターを増設した。部署が変わった。etc...</div>
                        <div class="col-12 item-value">
                            <label class="ef"><input type="text" placeholder="回答を入力" /></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">現在、目の疲れは感じていますか？</div>
                        <div class="col-12 item-value">
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="radio" name="fatigueEye" value="0"><span class="spaceLeft">以前より軽減した</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="radio" name="fatigueEye" value="1"><span class="spaceLeft">たまに感じる</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="radio" name="fatigueEye" value="2"><span class="spaceLeft">疲れは感じていない</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">現在、目に下記のような症状はありますか？</div>
                        <div class="col-12 item-subtitle">あてはまるものすべてにチェックを入れてください。</div>
                        <div class="col-12 item-value">
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">痛み</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">充血</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">ドライアイ</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">白内障</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">緑内障</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">黄斑変性症</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">飛蚊症</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">特になし</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-2">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">その他:</span></label>
                                </div>
                                <div class="col-10">
                                    <label class="ef"><input type="text" style="widht: 100%;" /></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">お身体に下記のような症状・疾患はありますか？</div>
                        <div class="col-12 item-subtitle">あてはまるものすべてにチェックを入れてください。</div>
                        <div class="col-12 item-value">
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">頭痛</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">肩こり</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">耳鳴り</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">めまい</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">糖尿病</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">甲状腺疾患</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">特になし</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-2">
                                    <label class="input-label"><input type="checkbox"><span class="spaceLeft">その他:</span></label>
                                </div>
                                <div class="col-10">
                                    <label class="ef"><input type="text" style="widht: 100%;" /></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">コンタクトをご使用中の方のみお答えください。前回の測定からコンタクトの度数は変わりましたか？</div>
                        <div class="col-12 item-value">
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="radio" name="useContact" value="0"><span class="spaceLeft">度数を下げた</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="radio" name="useContact" value="1"><span class="spaceLeft">度数を上げた</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="radio" name="useContact" value="2"><span class="spaceLeft">変えていない</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="radio" name="useContact" value="3"><span class="spaceLeft">コンタクトの使用をやめた</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-2">
                                    <label class="input-label"><input type="radio" name="useContact" value="9"><span class="spaceLeft">その他:</span></label>
                                </div>
                                <div class="col-10">
                                    <label class="ef"><input type="text" style="widht: 100%;" /></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">必ずご確認ください。</div>
                        <div class="col-12 item-title">測定会参加者にコロナ陽性者が発生した場合、保健所の指示により、氏名連絡先等の提供を求められたときには、速やかに開示致します。</div>
                        <div class="col-12 item-subtitle">ご了承が得られない場合、測定会への参加をお断りする場合がございます。<br>予めご了承ください。</div>
                        <div class="col-12 item-value">
                            <div class="row item-margin">
                                <div class="col-12">
                                    <label class="input-label"><input type="radio" name="checkCorona" value="0"><span class="spaceLeft">確認しました</span></label>
                                </div>
                            </div>
                            <div class="row item-margin">
                                <div class="col-2">
                                    <label class="input-label"><input type="radio" name="checkCorona" value="9"><span class="spaceLeft">その他:</span></label>
                                </div>
                                <div class="col-10">
                                    <label class="ef"><input type="text" style="widht: 100%;" /></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">メガネを使用するようになってからの変化や、気になることや補足等、ありましたらこちらにご記入ください。</div>
                        <div class="col-12 item-value">
                            <label class="ef"><textarea placeholder="回答を入力" rows="3" cols="90"></textarea></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 botton-area">
                            <button class="newRegist" v-on:click="sendAuestionnaire">送信</button>
                        </div>
                    </div>
                </div>                
                <!-- ボタン -->
            </div>

            <!-- モーダル -->
            <processing v-if="processingFlg"></processing>
        </main>
    </div>
    <div th:replace="footer"></div>
</body>
</html>