<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>事前アンケート</title>
    <div th:replace="base_header"></div>

    <!-- ページ固有のCSSファイル -->
    <link rel="stylesheet" href="/css/s008Questionnaire.css" th:href="@{/css/s008Questionnaire.css}"/>

    <!-- ページ固有のJSファイル -->
    <script src="/js/page/s008Questionnaire.js" th:src="@{/js/page/s008Questionnaire.js}"></script>
</head>

<body>
    <div id="content">
        <div th:replace="questionnaireHeader"></div>
        <main>
            <div class="row mainTable contensMargin">
                <div class="col-12 page-title">
                    <label>２０２４年７月測定会　事前アンケート</label>
                </div>
                <div class="page-header" style="text-align: left;">
                    <div class="col-12">
                        <label>記載していただいた個人情報は、ご本人の同意がなければ第三者に個人情報を提供することはございません。取得した個人情報は、紛失や漏洩などが発生しないよう積極的な安全対策を実施いたします。</label>
                    </div>
                    <div class="col-12" style="margin-top: 15px;">
                        <label>個人情報の取扱いに関するお問い合わせついては下記窓口までご連絡ください。</label>
                    </div>
                    <div class="col-12" style="margin-top: 15px;">
                        <label>TEL: 0152-44-2233</label>
                        <br>
                        <a href="#">hk@senrido.co.jp</a>
                    </div>
                    <div class="col-12" style="margin-top: 15px;">
                        <div class="row">
                            <div class="col-12 item-title">【お知らせ】</div>
                            <div class="col-12 item-subitle">
                                                                  測定会当日は現在使用中のメガネ・コンタクトレンズを<br>(度数が判るものであれば可)<br>ご持参頂きますよう、お願い致します。
                            </div>
                        </div>
                    </div>
                </div>
                <!-- コンテンツ -->
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">お名前<label class="label-required">必須</label></div>
                        <div class="col-12 item-value">
                            <label class="ef">
                                <input type="text" v-model="survey.name" placeholder="フルネームをご記入ください。" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">お名前（カタカナ）<label class="label-required">必須</label></div>
                        <div class="col-12 item-value">
                            <label class="ef">
                                <input type="text" v-model="survey.nameKana" placeholder="カタカナでご記入ください。" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">性別<label class="label-required">必須</label></div>
                        <div class="col-12 item-value">
                        	<div v-for="item in sexList" >
	                            <div class="row item-margin" v-if="item.name != 'その他'">
	                                <div class="col-12">
	                                    <label class="input-label"><input type="radio" name="sex" v-bind:value="item.code" v-model="survey.sex"><span class="spaceLeft">{{item.name}}</span></label>
	                                </div>
	                            </div>
	                            <div class="row item-margin" v-else>
	                                <div class="col-2">
	                                    <label class="input-label"><input type="radio" name="sex" v-bind:value="item.code" v-model="survey.sex"><span class="spaceLeft">{{item.name}}</span></label>
	                                </div>
	                                <div class="col-10">
	                                    <label class="ef"><input type="text" v-model="survey.sexOther" /></label>
	                                </div>
	                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">生年月日<label class="label-required">必須</label></div>
                        <div class="col-12 item-value">
                            <label class="ef"><input type="date" v-model="survey.birthday" placeholder="回答を入力" /></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <!-- 生年月日から自動計算するか -->
                    <div class="row card">
                        <div class="col-12 item-title">年齢<label class="label-required">必須</label></div>
                        <div class="col-12 item-value">
                            <label class="ef"><input type="text" placeholder="回答を入力" /></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">メールアドレス<label class="label-required">必須</label></div>
                        <div class="col-12 item-value">
                            <label class="ef"><input type="mail" v-model="survey.mail" class="width-full" placeholder="回答を入力" /></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">郵便番号<label class="label-required">必須</label></div>
                        <div class="col-12 item-value">
                            <div class="row">
                                <div class="col-2">
                                    <label class="ef"><input type="text" v-model="survey.zipcode" placeholder="回答を入力" /></label>
                                </div>
                                <div class="col-10">
                                    <button value="郵便番号検索" >郵便番号検索</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">ご住所<label class="label-required">必須</label></div>
                        <div class="col-12 item-value">
                            <label class="ef"><input type="text" v-model="survey.address" placeholder="回答を入力" /></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">電話番号<label class="label-required">必須</label></div>
                        <div class="col-12 item-value">
                            <label class="ef"><input type="text" v-model="survey.telephone" placeholder="ー(ハイフン)を入れてご記入ください。" /></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">ご紹介者<label class="label-required">必須</label></div>
                        <div class="col-12 item-value">
                            <label class="ef"><input type="text" v-model="survey.referrer" placeholder="どなたからのご紹介で千里堂を知りましたか？" /></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">職業または職種<label class="label-required">必須</label></div>
                        <div class="col-12 item-value">
                            <label class="ef"><input type="text" v-model="survey.occupationType" placeholder="回答を入力" /></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">お仕事の内容<label class="label-required">必須</label></div>
                        <div class="col-12 item-subtitle">可能な限り詳しくご記入頂けますと、とても助かります。</div>
                        <div class="col-12 item-value">
                            <label class="ef"><input type="text" v-model="survey.jobDescription" placeholder="回答を入力" /></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">現在、メガネやコンタクトの使用状況をお聞かせください。<label class="label-required">必須</label></div>
                        <div class="col-12 item-value">
                        	<div v-for="item in usageStatusList" >
	                            <div class="row item-margin" v-if="item.name != 'その他'">
	                                <div class="col-12">
	                                    <label class="input-label"><input type="checkbox" name="usageStatus"　v-bind:value="item.code" v-model="survey.usageStatus"><span class="spaceLeft">{{item.name}}</span></label>
	                                </div>
	                            </div>
	                            <div class="row item-margin" v-else>
	                                <div class="col-2">
	                                    <label class="input-label"><input type="checkbox" name="usageStatus"　v-bind:value="item.code" v-model="survey.usageStatus"><span class="spaceLeft">{{item.name}}:</span></label>
	                                </div>
	                                <div class="col-10">
	                                    <label class="ef"><input type="text" v-model="survey.usageStatusOther" style="widht: 100%;" /></label>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">はじめてメガネまたはコンタクトを使用したのは何歳ですか？</div>
                        <div class="col-12 item-value">
                            <label class="ef"><input type="text" v-model="survey.usageStartAge" placeholder="回答を入力" /></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">パソコンは何を使用していますか？<label class="label-required">必須</label></div>
                        <div class="col-12 item-subtitle">あてはまるものすべてにチェックを入れてください。</div>
                        <div class="col-12 item-value">
                        	<div v-for="item in computerTypeList" >
	                            <div class="row item-margin" v-if="item.name != 'その他'">
	                                <div class="col-12">
	                                    <label class="input-label"><input type="checkbox" name="computerType"　v-bind:value="item.code" v-model="survey.computerType"><span class="spaceLeft">{{item.name}}</span></label>
	                                </div>
	                            </div>
	                            <div class="row item-margin" v-else>
	                                <div class="col-2">
	                                    <label class="input-label"><input type="checkbox" name="computerType"　v-bind:value="item.code" v-model="survey.computerType"><span class="spaceLeft">{{item.name}}:</span></label>
	                                </div>
	                                <div class="col-10">
	                                    <label class="ef"><input type="text" v-model="survey.computerTypeOther" style="widht: 100%;" /></label>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">パソコンは１日に何時間使用しますか？<label class="label-required">必須</label></div>
                        <div class="col-12 item-value">
                        	<div v-for="item in computerUsageTimeList" >
	                            <div class="row item-margin" v-if="item.name != 'その他'">
	                                <div class="col-12">
	                                    <label class="input-label"><input type="radio" name="usePc" v-bind:value="item.code" v-model="survey.computerUsageTime"><span class="spaceLeft">{{item.name}}</span></label>
	                                </div>
	                            </div>
	                            <div class="row item-margin" v-else>
	                                <div class="col-2">
	                                    <label class="input-label"><input type="radio" name="usePc" v-bind:value="item.code" v-model="survey.computerUsageTime"><span class="spaceLeft">{{item.name}}:</span></label>
	                                </div>
	                                <div class="col-10">
	                                    <label class="ef"><input type="text" v-model="survey.computerUsageTimeOther" style="widht: 100%;" /></label>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">パソコン画面と眼の距離は何ｃｍ離れていますか？<br>複数ある場合はそれぞれ記入をお願い致します。<label class="label-required">必須</label></div>
                        <div class="col-12 item-subtitle">記入例：ノートパソコンと外付けモニターを使用し、ノートパソコンは約40cm、外付けモニターは約70cm離れている。</div>
                        <div class="col-12 item-value">
                            <label class="ef"><input type="text"　v-model="survey.distance" placeholder="回答を入力" /></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">スマートフォンまたは携帯電話は１日に何時間使用しますか？<label class="label-required">必須</label></div>
                        <div class="col-12 item-value">
                        	<div v-for="item in smartphoneUsageTimeList" >
	                            <div class="row item-margin" v-if="item.name != 'その他'">
	                                <div class="col-12">
	                                    <label class="input-label"><input type="radio" name="useSp" v-bind:value="item.code" v-model="survey.smartphoneUsageTime"><span class="spaceLeft">{{item.name}}</span></label>
	                                </div>
	                            </div>
	                            <div class="row item-margin" v-else>
	                                <div class="col-2">
	                                    <label class="input-label"><input type="radio" name="useSp" v-bind:value="item.code" v-model="survey.smartphoneUsageTime"><span class="spaceLeft">{{item.name}}:</span></label>
	                                </div>
	                                <div class="col-10">
	                                    <label class="ef"><input type="text" v-model="survey.smartphoneUsageTimeOther" style="widht: 100%;" /></label>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">スマートフォンでは何をよく見ますか？<label class="label-required">必須</label></div>
                        <div class="col-12 item-subtitle">あてはまるものすべてにチェックを入れてください。</div>
                        <div class="col-12 item-value">
                        	<div v-for="item in smartphoneContentList" >
	                             <div class="row item-margin" v-if="item.name != 'その他'">
	                                <div class="col-12">
	                                    <label class="input-label"><input type="checkbox" name="smartphoneContent" v-bind:value="item.code" v-model="survey.smartphoneContent"><span class="spaceLeft">{{item.name}}</span></label>
	                                </div>
	                            </div>
	                            <div class="row item-margin" v-else>
	                                <div class="col-2">
	                                    <label class="input-label"><input type="checkbox" name="smartphoneContent" v-bind:value="item.code" v-model="survey.smartphoneContent"><span class="spaceLeft">{{item.name}}:</span></label>
	                                </div>
	                                <div class="col-10">
	                                    <label class="ef"><input type="text" v-model="survey.smartphoneContentOther" style="widht: 100%;" /></label>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">読書はしますか？<label class="label-required">必須</label></div>
                        <div class="col-12 item-value">
                        	<div v-for="item in readingList" >
	                            <div class="row item-margin" v-if="item.name != 'その他'">
	                                <div class="col-12">
	                                    <label class="input-label"><input type="radio" name="readBook" v-bind:value="item.code" v-model="survey.reading"><span class="spaceLeft">{{item.name}}</span></label>
	                                </div>
	                            </div>
	                            <div class="row item-margin" v-else>
	                                <div class="col-2">
	                                    <label class="input-label"><input type="radio" name="readBook" v-bind:value="item.code" v-model="survey.reading"><span class="spaceLeft">{{item.name}}:</span></label>
	                                </div>
	                                <div class="col-10">
	                                    <label class="ef"><input type="text" v-model="survey.readingOther" style="widht: 100%;" /></label>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">ゲームはしますか？<label class="label-required">必須</label></div>
                        <div class="col-12 item-subtitle">使用している機器にチェックを入れてください</div>
                        <div class="col-12 item-value">
                        	<div v-for="item in gamingNameList" >
	                            <div class="row item-margin" v-if="item.name != 'その他'">
	                                <div class="col-12">
	                                    <label class="input-label"><input type="checkbox" name="gaming" v-bind:value="item.code" v-model="survey.gaming"><span class="spaceLeft">{{item.name}}</span></label>
	                                </div>
	                            </div>
	                            <div class="row item-margin" v-else>
	                                <div class="col-2">
	                                    <label class="input-label"><input type="checkbox" name="gaming" v-bind:value="item.code" v-model="survey.gaming"><span class="spaceLeft">{{item.name}}:</span></label>
	                                </div>
	                                <div class="col-10">
	                                    <label class="ef"><input type="text" v-model="survey.gamingOther" style="widht: 100%;" /></label>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">ゲームは１日に何時間使用しますか？<label class="label-required">必須</label></div>
                        <div class="col-12 item-value">
                        	<div v-for="item in gamingTimeList" >
	                            <div class="row item-margin" v-if="item.name != 'その他'">
	                                <div class="col-12">
	                                    <label class="input-label"><input type="radio" name="useSp" v-bind:value="item.code" v-model="survey.gamingTime"><span class="spaceLeft">{{item.name}}</span></label>
	                                </div>
	                            </div>
	                            <div class="row item-margin" v-else>
	                                <div class="col-2">
	                                    <label class="input-label"><input type="radio" name="useSp" v-bind:value="item.code" v-model="survey.gamingTime"><span class="spaceLeft">{{item.name}}:</span></label>
	                                </div>
	                                <div class="col-10">
	                                    <label class="ef"><input type="text" v-model="survey.gamingTimeOther" style="widht: 100%;" /></label>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">自動車の運転はしますか？<label class="label-required">必須</label></div>
                        <div class="col-12 item-value">
                        	<div v-for="item in drivingList" >
	                            <div class="row item-margin" v-if="item.name != 'その他'">
	                                <div class="col-12">
	                                    <label class="input-label"><input type="radio" name="driving" v-bind:value="item.code" v-model="survey.driving"><span class="spaceLeft">{{item.name}}</span></label>
	                                </div>
	                            </div>
	                            <div class="row item-margin" v-else>
	                                <div class="col-2">
	                                    <label class="input-label"><input type="radio" name="driving" v-bind:value="item.code" v-model="survey.driving"><span class="spaceLeft">{{item.name}}:</span></label>
	                                </div>
	                                <div class="col-10">
	                                    <label class="ef"><input type="text" v-model="survey.drivingOther" style="widht: 100%;" /></label>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">運転免許の種類を教えてください。<label class="label-required">必須</label></div>
                        <div class="col-12 item-subtitle">あてはまるものすべてにチェックを入れてください。</div>
                        <div class="col-12 item-value">
                        	<div v-for="item in licenseTypeList" >
	                            <div class="row item-margin" v-if="item.name != 'その他'">
	                                <div class="col-12">
	                                    <label class="input-label"><input type="checkbox" name="licenseType" v-bind:value="item.code" v-model="survey.licenseType"><span class="spaceLeft">{{item.name}}</span></label>
	                                </div>
	                            </div>
	                            <div class="row item-margin" v-else>
	                                <div class="col-2">
	                                    <label class="input-label"><input type="checkbox" name="licenseType" v-bind:value="item.code" v-model="survey.licenseType"><span class="spaceLeft">{{item.name}}:</span></label>
	                                </div>
	                                <div class="col-10">
	                                    <label class="ef"><input type="text" v-model="survey.licenseTypeOther" style="widht: 100%;" /></label>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">眼科さんへ受診はしていますか？<label class="label-required">必須</label></div>
                        <div class="col-12 item-subtitle">あてはまるものすべてにチェックを入れてください。</div>
                        <div class="col-12 item-value">
                        	<div v-for="item in ophthalmologyVisitList" >
	                            <div class="row item-margin" v-if="item.name != 'その他'">
	                                <div class="col-12">
	                                    <label class="input-label"><input type="checkbox" name="ophthalmologyVisit" v-bind:value="item.code" v-model="survey.ophthalmologyVisit"><span class="spaceLeft">{{item.name}}</span></label>
	                                </div>
	                            </div>
	                            <div class="row item-margin" v-else>
	                                <div class="col-2">
	                                    <label class="input-label"><input type="checkbox" name="ophthalmologyVisit" v-bind:value="item.code" v-model="survey.ophthalmologyVisit"><span class="spaceLeft">{{item.name}}:</span></label>
	                                </div>
	                                <div class="col-10">
	                                    <label class="ef"><input type="text" v-model="survey.ophthalmologyVisitOther" style="widht: 100%;" /></label>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">目の疲れは感じていますか？<label class="label-required">必須</label></div>
                        <div class="col-12 item-value">
                        	<div v-for="item in eyeFatigueList" >
	                            <div class="row item-margin">
	                                <div class="col-12">
	                                    <label class="input-label"><input type="radio" name="eyeFatigue" v-bind:value="item.code" v-model="survey.eyeFatigue"><span class="spaceLeft">{{item.name}}</span></label>
	                                </div>
	                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">どのような時に疲れを感じますか？</div>
                        <div class="col-12 item-subtitle">上記の質問で「はい」「たまに感じる」とお答えいただいた方のみ、ご記入ください。</div>
                        <div class="col-12 item-value">
                            <label class="ef"><input type="text" v-model="survey.fatigueTiming" placeholder="回答を入力" /></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">現在、目に下記のような症状はありますか？<label class="label-required">必須</label></div>
                        <div class="col-12 item-subtitle">あてはまるものすべてにチェックを入れてください。</div>
                        <div class="col-12 item-value">
                        	<div v-for="item in eyeSymptomsList" >
	                            <div class="row item-margin" v-if="item.name != 'その他'">
	                                <div class="col-12">
	                                    <label class="input-label"><input type="checkbox" name="eyeSymptoms" v-bind:value="item.code" v-model="survey.eyeSymptoms"><span class="spaceLeft">{{item.name}}</span></label>
	                                </div>
	                            </div>
	                            <div class="row item-margin" v-else>
	                                <div class="col-2">
	                                    <label class="input-label"><input type="checkbox" name="eyeSymptoms" v-bind:value="item.code" v-model="survey.eyeSymptoms"><span class="spaceLeft">{{item.name}}:</span></label>
	                                </div>
	                                <div class="col-10">
	                                    <label class="ef"><input type="text" v-model="survey.eyeSymptomsOther" style="widht: 100%;" /></label>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">お身体に下記のような症状・疾患はありますか？<label class="label-required">必須</label></div>
                        <div class="col-12 item-subtitle">あてはまるものすべてにチェックを入れてください。</div>
                        <div class="col-12 item-value">
                        	<div v-for="item in bodySymptomsList" >
	                            <div class="row item-margin" v-if="item.name != 'その他'">
	                                <div class="col-12">
	                                    <label class="input-label"><input type="checkbox" name="bodySymptoms" v-bind:value="item.code" v-model="survey.bodySymptoms"><span class="spaceLeft">{{item.name}}</span></label>
	                                </div>
	                            </div>
	                            <div class="row item-margin" v-else>
	                                <div class="col-2">
	                                    <label class="input-label"><input type="checkbox" name="bodySymptoms" v-bind:value="item.code" v-model="survey.bodySymptoms"><span class="spaceLeft">{{item.name}}:</span></label>
	                                </div>
	                                <div class="col-10">
	                                    <label class="ef"><input type="text" v-model="survey.bodySymptomsOther" style="widht: 100%;" /></label>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">眼の手術は受けたことありますか？<label class="label-required">必須</label></div>
                        <div class="col-12 item-subtitle">あてはまるものすべてにチェックを入れてください。</div>
                        <div class="col-12 item-value">
                        	<div v-for="item in surgeryList" >
	                            <div class="row item-margin" v-if="item.name != 'その他'">
	                                <div class="col-12">
	                                    <label class="input-label"><input type="checkbox" name="surgery" v-bind:value="item.code" v-model="survey.surgery"><span class="spaceLeft">{{item.name}}</span></label>
	                                </div>
	                            </div>
	                            <div class="row item-margin" v-else>
	                                <div class="col-2">
	                                    <label class="input-label"><input type="checkbox" name="surgery" v-bind:value="item.code" v-model="survey.surgery"><span class="spaceLeft">{{item.name}}:</span></label>
	                                </div>
	                                <div class="col-10">
	                                    <label class="ef"><input type="text" v-model="survey.surgeryOther" style="widht: 100%;" /></label>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">趣味はなんですか？<label class="label-required">必須</label></div>
                        <div class="col-12 item-subtitle">特にない場合は「なし」とご記入ください。</div>
                        <div class="col-12 item-value">
                            <label class="ef"><input type="text" v-model="survey.hobbies" placeholder="回答を入力" /></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">必ずご確認ください。</div>
                        <div class="col-12 item-title">測定会参加者にコロナ陽性者が発生した場合、保健所の指示により、氏名連絡先等の提供を求められたときには、速やかに開示致します。</div>
                        <div class="col-12 item-subtitle">ご了承が得られない場合、測定会への参加をお断りする場合がございます。<br>予めご了承ください。</div>
                        <div class="col-12 item-value">
                        	<div v-for="item in covidDisclosureList" >
	                            <div class="row item-margin" v-if="item.name != 'その他'">
	                                <div class="col-12">
	                                    <label class="input-label"><input type="radio" name="covidDisclosure" v-bind:value="item.code" v-model="survey.covidDisclosure"><span class="spaceLeft">{{item.name}}</span></label>
	                                </div>
	                            </div>
	                            <div class="row item-margin" v-else>
	                                <div class="col-2">
	                                    <label class="input-label"><input type="radio" name="covidDisclosure" v-bind:value="item.code" v-model="survey.covidDisclosure"><span class="spaceLeft">{{item.name}}:</span></label>
	                                </div>
	                                <div class="col-10">
	                                    <label class="ef"><input type="text" v-model="survey.covidDisclosureOther" style="widht: 100%;" /></label>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">気になることや確認したいこと、補足等、ありましたらこちらにご記入ください。</div>
                        <div class="col-12 item-value">
                            <label class="ef"><textarea placeholder="回答を入力" rows="3" cols="90" v-model="survey.remarks"></textarea></label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 botton-area">
                            <button class="newRegist" v-on:click="sendAuestionnaire(true)">送信</button>
                        </div>
                    </div>
                </div>                
                <!-- ボタン -->
            </div>

            <!-- モーダル -->
            <processing v-if="processingFlg"></processing>
        </main>
    </div>
    <div th:replace="footer"></div>
</body>
</html>