<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>事前アンケート</title>
    <div th:replace="base_header"></div>

    <!-- ページ固有のCSSファイル -->
    <link rel="stylesheet" href="/css/s008Questionnaire.css" th:href="@{/css/s008Questionnaire.css}"/>

    <!-- ページ固有のJSファイル -->
    <script src="/js/page/s008QuestionnaireDisp.js" th:src="@{/js/page/s008QuestionnaireDisp.js}"></script>
</head>

<body>
    <div id="content">
        <div th:replace="questionnaireHeader"></div>
        <main>
            <div class="row mainTable contensMargin">
                <div class="col-12 page-title">
                    <label>{{survey.visitDate | dateToYM}}測定会　事前アンケート</label>
                </div>
                <!-- コンテンツ -->
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">お名前</div>
                        <div class="col-12 item-value">
                            <label class="ef">{{ survey.name }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">お名前（カタカナ）</div>
                        <div class="col-12 item-value">
                            <label class="ef">{{ survey.nameKana }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">メールアドレス</div>
                        <div class="col-12 item-value">
                            <label class="ef">{{ survey.mail }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">郵便番号</div>
                        <div class="col-12 item-value">
                            <div class="col-2">
                                <label class="ef">{{ survey.zipcode }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">ご住所</div>
                        <div class="col-12 item-value">
                            <label class="ef">{{ survey.address }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">電話番号</div>
                        <div class="col-12 item-value">
                            <label class="ef">{{ survey.telephone }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">ご紹介者</div>
                        <div class="col-12 item-value">
                            <label class="ef">{{ survey.referrer }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">作製したメガネの一日当たりの使用状況はどのくらいですか？</div>
                        <div class="col-12 item-value">
                            <label class="ef">{{ survey.createdGlassesUsageName }}</label>
                            <label class="ef" v-if="survey.createdGlassesUsageOther != null || survey.createdGlassesUsageOther != ''"><br>{{ survey.createdGlassesUsageOther }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">メガネを掛けて変化は感じますか？</div>
                        <div class="col-12 item-value">
                            <label class="ef">{{ survey.changesName }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">メガネを掛けていてきになることはありますか？</div>
                        <div class="col-12 item-value">
                        	<label class="ef">{{ survey.glassesConcernsName }}</label>
                            <label class="ef" v-if="survey.glassesConcernsOther != null || survey.glassesConcernsOther != ''"><br>{{ survey.glassesConcernsOther }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">お仕事の内容や環境に変化はありましたか？</div>
                        <div class="col-12 item-value">
                            <label class="ef">{{ survey.environmentalChangesName }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">現在、目の疲れは感じていますか？</div>
                        <div class="col-12 item-value">
                        	<label class="ef">{{ survey.eyeFatigueSecondName }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">現在、目に下記のような症状はありますか？</div>
                        <div class="col-12 item-value">
                        	<label class="ef">{{ survey.eyeSymptomsName }}</label>
                            <label class="ef" v-if="survey.eyeSymptomsOther != null || survey.eyeSymptomsOther != ''">{{ survey.eyeSymptomsOther }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">お身体に下記のような症状・疾患はありますか？</div>
                        <div class="col-12 item-value">
                        	<label class="ef">{{ survey.bodySymptomsName }}</label>
                            <label class="ef" v-if="survey.bodySymptomsOther != null || survey.bodySymptomsOther != ''">{{ survey.bodySymptomsOther }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">コンタクトをご使用中の方のみお答えください。前回の測定からコンタクトの度数は変わりましたか？</div>
                        <div class="col-12 item-value">
                        	<label class="ef">{{ survey.prescriptionStrengthName }}</label>
                            <label class="ef" v-if="survey.prescriptionStrengthOther != null || survey.prescriptionStrengthOther != ''">{{ survey.prescriptionStrengthOther }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">必ずご確認ください。</div>
                        <div class="col-12 item-title">測定会参加者にコロナ陽性者が発生した場合、保健所の指示により、氏名連絡先等の提供を求められたときには、速やかに開示致します。</div>
                        <div class="col-12 item-value">
                        	<label class="ef">{{ survey.covidDisclosureName }}</label>
                            <label class="ef" v-if="survey.covidDisclosureOther != null || survey.covidDisclosureOther != ''">{{ survey.covidDisclosureOther }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row card">
                        <div class="col-12 item-title">気になることや確認したいこと、補足等、ありましたらこちらにご記入ください。</div>
                        <div class="col-12 item-value">
                            <label class="ef">{{ survey.remarks }}</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 botton-area">
                            <button class="newRegist" v-on:click="close">閉じる</button>
                        </div>
                    </div>
                </div>                
                <!-- ボタン -->
            </div>

            <!-- モーダル -->
            <processing v-if="processingFlg"></processing>
        </main>
    </div>
    <div th:replace="footer"></div>
</body>
</html>